@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Nunito+Sans:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Colores */
:root {
  --body-bg-color: #121212;
  --body-text-color: #ffffff;
  --text-color: #e0e0e0;
  --a-color: #ffffff;
  --h1-color: #A4BFD6;
  --h2-color: grey;
  --border-color: grey;
  --link-color: grey;
  --link-hover-hmv-color: #F09CB8;
  --link-hover-htb-color: #9FEF00;
  --link-hover-nyx-color: #AB2A3E;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
    font-family: Ubuntu, sans-serif;  
}

a {
    color: var(--a-color);
    text-decoration: none;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin: 10px 0;
    color: var(--h1-color);
}

h2 {
  font-size: 26px;
  text-align: center;
  margin: 10px 0;
  color: var(--h2-color);
}

.main {
  /* background-color: ;*/
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    border-style: groove;
    border-color: var(--border-color);
}

/* Estilos de la barra de navegación */
.nav {
    /* background-color: ;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border-style: groove;
    border-color: var(--border-color);
}

.nav a {
    font-size: 18px;
    font-weight: bold;   
}

.nav a:hover {
  color: var(--link-color);
}

/* Estilos de los enlaces a los writeups */
.hmv,
.htb,
.nyx {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px 0;
    color: var(--text-color);
    text-align: center;
}

.hmv:hover {
    text-decoration: none;
    color: var(--link-hover-hmv-color);
}

.htb:hover {
  text-decoration: none;
  color: var(--link-hover-htb-color);
}

.nyx:hover {
  text-decoration: none;
  color: var(--link-hover-nyx-color);
}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  /* background-color: ; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  border-style: groove;
  border-color: var(--border-color);
}

.a_footer {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.i_footer {
  margin-left: 5px;
  font-size: 24px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  header {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-top: 20px;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .a_footer {
    font-size: 12px;
  }

  .i_footer {
    font-size: 16px;
  }
}

