@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Nunito+Sans:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    margin-top: 10px;
}


body {
    box-sizing: border-box;
    width:800px;
	margin:0 auto;
	height:100%;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    border-style: groove;
    border-color: #00396B;
    border-radius: 10px;
}

.nav {
    background-color: #202020;
    display: flex;
    justify-content: left;
    text-decoration: none;
    border-bottom-style: solid;
    border-color: #00396B;
    font-size: 18px;
}

.nav a {
    color: #A4BFD6;
    text-decoration: none;
    margin: 10px;  
}

.nav a:hover {
    color:  aliceblue;
    transition: 1500ms;
}

h1 {
    text-align: center;
    color: #A4BFD6;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
}

h1:hover {
    transition: 4500ms;
    font-size: 2rem;
    color: aliceblue;
    text-shadow: 0 0 8px aliceblue, 0 0 10px aliceblue, 0 0 10px aliceblue;
    animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow: 0 0 4px aliceblue, 0 0 8px aliceblue, 0 0 10px aliceblue;
    }
    to {
      text-shadow: 0 0 2px aliceblue, 0 0 4px aliceblue, 0 0 6px aliceblue;
    }
  }

.main {
    text-align: center;
    flex-direction: column;
}

.badges {
    text-align: center;   
}

.htb, .hmv{
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
    font-size: 18px;
} 

.htb:hover {
    color: #9FEF00;
}

.hmv:hover {
    color: #F09CB8;
}

.footer {
    background-color: #202020;
    text-align: center;
    /* color: #A4BFD6; */
    margin-top: 50px;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 800px;
    margin-left: -3px;
    border-style: groove;
    border-color: #00396B;
    border-radius: 10px;
    padding: 6px;
}

.a_footer {
    text-decoration: none;
    color: #A4BFD6;
    align-items: center;
    padding: auto;
    margin: 10px;
}

.a_footer:hover{
    color: aliceblue;
    transition: 500ms;
} 

.i_footer {
    padding: 0 8px;
    color: #f3f3f3;
}

@media screen and (max-width: 960px){
    body, .footer{
        width: 90%;  
    }

}

@media screen and (max-width: 768px){
    body, .footer{
        width: 90%;  
    }

}

@media screen and (max-width: 480px){
    body, .footer{
        width: 90%;  
    }

}