@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Nunito+Sans:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    margin-top: 10px;
}


body {
    box-sizing: border-box;
    width:800px;
	margin:0 auto;
	/* height:100%; */
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    border-style: groove;
    border-color: #0077DF;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: left;
    text-decoration: none;
    border-bottom-style: solid;
    border-color: #0077DF;
    font-size: 18px;
}

.nav a {
    color: #A4BFD6;
    text-decoration: none;
    margin: 10px;  
}

.nav a:hover {
    color:  aliceblue;
    transition: 1500ms;
}

h1 {
    text-align: center;
    color: #A4BFD6;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 2.4rem;
}

h1:hover {
    transition: 4500ms;
    font-size: 2.4rem;
    color: aliceblue;
    text-shadow: 0 0 8px aliceblue, 0 0 10px aliceblue, 0 0 10px aliceblue;
    animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow: 0 0 4px aliceblue, 0 0 8px aliceblue, 0 0 10px aliceblue;
    }
    to {
      text-shadow: 0 0 2px aliceblue, 0 0 4px aliceblue, 0 0 6px aliceblue;
    }
}


.h2 {
    font-size: 1.8rem;
    color: gray;
    margin-top: 16px;
    margin-bottom: 2px;
}


.main, .htb, .hmv, .nyx{
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-size: 17px;
} 

.htb:hover {
    color: #9FEF00;
}

.hmv:hover {
    color: #F09CB8;
}

.nyx:hover {
    color: #AB2A3E;
}

.table {
    color: aliceblue;
}

.badges {
    text-align: center;   
}

.bg-easy {
    background-color: #4c9b51;
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.bg-medium {
    background-color: #FFC107;
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.bg-hard {
    background-color: #DC3545;
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.bg-vulns {
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem;
    color: #000;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer {
    text-align: center;
    margin-top: 50px;
    /* padding: 0px; */
    position: absolute;
    bottom: 0;
    width: 777px;
    margin-left: 0px;
    border-style: groove;
    border-color: #0077DF;
    border-radius: 10px;
    padding: 6px;
}

.a_footer {
    text-decoration: none;
    color: #A4BFD6;
    align-items: center;
    padding: auto;
    margin: 10px;
}

.a_footer:hover{
    color: aliceblue;
    transition: 500ms;
} 

.i_footer {
    padding: 0 8px;
    color: #A4BFD6;
}

@media screen and (max-width: 960px){
    body, .footer{
        width: 70%;  
    }

}

@media screen and (max-width: 768px){
    body, .footer{
        width: 80%;  
    }

}

@media screen and (max-width: 480px){
    body, .footer{
        width: 90%;  
    }

}