@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Nunito+Sans:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    box-sizing: border-box;
    width:800px;
	margin:0 auto;
	height:100%;
    /* background-color: #383737; */
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.nav {
    margin-top: 10px;
    text-decoration: none;
    border-style: groove;
    border-color: #0077DF;
    border-radius: 10px;
}

.nav a {
    color: #A4BFD6;
    text-decoration: none;
    margin: 10px;  
}

.nav a:hover {
    color:  aliceblue;
    transition: 1500ms;
}

h1 {
    display: flex;
    justify-content: center;
    color: #A4BFD6;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
}

h1:hover {
    transition: 4500ms;
    font-size: 2rem;
    color: aliceblue;
    text-shadow: 0 0 8px aliceblue, 0 0 10px aliceblue, 0 0 10px aliceblue;
    animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
      text-shadow: 0 0 4px aliceblue, 0 0 8px aliceblue, 0 0 10px aliceblue;
    }
    to {
      text-shadow: 0 0 2px aliceblue, 0 0 4px aliceblue, 0 0 6px aliceblue;
    }
  }

.main {
    text-align: center;
    margin: 0 auto;
    background-color: #202020;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    color: #A4BFD6;
}

h3 {
    text-align: left;
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 18px;
    color: whitesmoke;
}

p {
    text-align: left;
    color: #A4BFD6;
    margin-top: 12px;
    margin-bottom: 10px;
}

img{
    width: 650px;
    margin-top: 6px;
    margin-bottom: 8px;
    border-style: groove;
    border-color: darkgray;
    border-radius: 8px;
}

.img_b {
    width: 800px;
}

.img_m {
    width: 600px;
}

.img_s {
    width: 350px;
}

.img_hmv {
    border-color: #F09CB8;
}

.img_htb {
    border-color: #9FEF00;
}

.pre {
    border-style: groove;
    border-color: #0077DF;
    border-width: 2px;
    border-radius: 8px;
    margin: 10px;
}

.code_negrita {
    color: red;
}

.code_autor_htb {
    color: #9FEF00;
}

.code_autor_hmv {
    color: #F09CB8;
}

.cursiva {
    color: yellow;
    font-size: 14px;
}

 a{
    color: #A4BFD6;
    font-size: 18px;
    margin: 10px;
    text-decoration: none; 
} 


.footer {
    text-align: center;
    color: #A4BFD6;
    margin-top: 30px;
    position: absolute;
    width: 800px;
    border-style: groove;
    border-color: #0077DF;
    border-radius: 10px;
    padding: 6px;
}

.a_footer {
    text-decoration: none;
    color: #A4BFD6;
    align-items: center;
}

.a_footer:hover{
    color: aliceblue;
    transition: 1500ms;
} 

.i_footer {
    padding: 0 0.5em;
    color: #A4BFD6;
}

/* # */
@media screen and (max-width: 1328px){
    body, img, .img_b, .img_m, .img_s, .footer{
        width: 65%; 
    }

}

@media screen and (max-width: 960px){
    body, img, .img_b, .img_m, .img_s, .footer{
        width: 80%;
         
    }
}

@media screen and (max-width: 768px){
    body, img, .img_b, .img_m, .img_s, .footer {
        width: 90%;
    }

}

@media screen and (max-width: 480px){
    body, img, .img_b, .img_m, .img_s, .footer {
        width: 90%;
    }

}

